

.wrapper {
    width: 100%;
    margin: 0 auto;
    border-color: green;
    border-style: solid;
    border-width: 2px;   
    font-style: normal;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif  ;
    /* color:  darkslategray; */
}

.header {
    width: 100%;        
    color: rgb(114, 111, 111);
    height: 100px;        
    border-top-width: 0px;
    border-bottom-width: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-color: green;
    border-style: solid;
    /* padding-top: 20px;     */
}

.maintable {
    width: 100%;
    border-collapse: collapse;
    border: none;
}


.menu {
    width: 170px;
    border-right: 2px solid lightgrey;
    margin: 0;
    padding: 2px;
    vertical-align: top;
    font-weight: bold;
}

.content {
    /* border: none; */
    margin: 0;
    padding: 5px;
    vertical-align: top;
    /* border-color: green;
    border-style: solid;
    border-width: 2px;  */
}

.footer {
    width: 100%;
    border-top: 1px solid #369;
    margin: 0;
    padding: 5px;
}


.timedate {
    /* right: 0px; */
    /* width: 300px; */
    /* padding-top: 35px;    */
    display: block;
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right: 2px;
    float: right;
    text-align: right;
	font-weight: bold;
    font-size: 12px;
    clear: both;
    /* background-color: black; */
    /* border-color: darkgreen;
    border-style: solid;
    border-width: 2px; */
}
.username {    
    /* right: 0px; */
    /* width: 150px; */
    padding-top: 10px;   
    float: right;
    text-align: right;
    font-weight: bold;
    /* padding-bottom: 0px; */
    /* border-color: darkgreen;
    border-style: solid;
    border-width: 2px; */
}

.logout {
    width: 30px;
    padding-top: 11px; 
    padding-right: 4px;  
    float: right;
    text-align: right;    
    /* background-image : url("img/logout.png");     */
}

.inline {
    /* display: flex; */
    flex-direction: row;
    align-items: center;
}

.row {
    

    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    /* background-color: darkolivegreen; */

}


.button {
    background-color: green; /* Green */    
    border: none;
    color: white;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 170px;
    height: 25px;
    font-weight: bold;
    
}

.subbutton {
    background-color: rgb(11, 153, 11); /* Green */        
    border: none;
    color: white;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 170px;
    height: 25px;        
}

.menubtn {
    /* background-color: green;  */
    color: white; 
    /* border: 2px solid #4CAF50; */
}

.menubtn:hover {
    background-color: darkgreen;
    color: black;
}

/* .active {
    background-color: darkgreen;
    color: black;
} */

.box {
    padding-top: 3px;
    padding-bottom: 3px;       
    /* padding-left: 30%px; */
    border-width: 0px 0px 1px 0px;
    border-color: green;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* background-color: blueviolet; */
}

.boxcenter {
    padding-top: 3px;
    padding-bottom: 3px;       
    /* padding-left: 30%px; */
    border-width: 0px 0px 1px 0px;
    border-color: green;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxnoborder {
    padding-top: 3px;
    padding-bottom: 3px;           
    border-width: 0px 0px 0px 0px;
    border-color: green;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;    
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxnopadd {
    padding-top: 3px;
    padding-bottom: 3px;       
    
    border-width: 0px 0px 0px 0px;
    border-color: green;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    min-width: 100%;
}



.divider{
    width:5px;
    height:auto;
    display:inline-block;
}



.progress {
    width: 100%;    
    background-color: grey;
    text-align: center;    
    color: white;    
}

#bar_p1, #bar_p2, #bar_p3, #bar_p4, #bar_p5, #bar_p6, #bar_p7, #bar_p8  {
    width: 0%;
    height: 30px;
    background-color: green;/* rgb(40, 250, 50); */
    padding-top: 10px;
    font-weight: bold;
    
}

.barmin {
    float: left; 
    text-align: left; 
    width: 20px; 
    margin-top: 10px;
    margin-left: 1px;
    color: white;
}

.barmax {
    float: right; 
    text-align: right; 
    width: 80px; 
    margin-top: 10px;
    margin-right: 2px;
    color: white;
}

td {
    padding: 4px;
    /* text-align: left;     */
}

.tdbar {
    border-color:gray;
    border-style: solid;
    border-width: 1px;
    padding: 8px; 
}

/* Fixed sidenav, full height */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {

    background-color: green; /* Green */    
    border: none;
    color: white;
    /* padding-top: 12px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 1px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    width: 170px;
    height: 35px;
    outline: none;
    font-weight: bold;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    background-color: darkgreen;
    color: black;
}

/* Add an active class to the active dropdown button */
.active {
    background-color: green;
    color: black;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: white;    
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}


.tabletitile {
    margin-left: 30px; 
    font-size:larger; 
    color: darkred;
}

tbody>tr>:nth-child(1){        
    text-align:right;
    font-weight: bold;    
}

tbody>tr>:nth-child(2){        
    text-align:left;
}


.box tbody>tr>:nth-child(1){        
    width: 400px;    

}

.box tbody>tr>:nth-child(2){        
    width: 130px;
}


.box tbody>tr>:nth-child(3){        
    width: 100px;    
}

.box tbody>tr>:nth-child(4){        
    width: 80px;
}

.set_tch tbody>tr>:nth-child(2){        
    width: 30px;
}

.set_tt tbody>tr>:nth-child(3){        
    width: 30px;
}

td input, td button td select {
    box-sizing:border-box;
    display:block;
    width:100%;
  }
